main {
	min-width: 320px;
	max-width: 1100px;
	padding: 20px;
	margin: 10px auto;
	background: #fff;
}

section {
	display: none;
	padding: 20px 0 0;
	border-top: 1px solid #ddd;
}

input {
	display: none;
}

label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	border: 1px solid transparent;
}

label:before {
	font-family: fontawesome;
	font-weight: normal;
	margin-right: 10px;
}

label[for*='1']:before { content: '\f21d'; }
label[for*='2']:before { content: '\f1da'; }

label:hover {
	color: #888;
	cursor: pointer;
}

input:checked + label {
	color: #555;
	border: 1px solid #ddd;
	border-top: 2px solid #A30023;
	border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
	display: block;
}