.modal-dialog{
    width: 70%;
}

.modaltr .modal-body .header{
    grid-area: left;
}

.modaltr .modal-body .body{
    grid-area: right;
    display: grid; 
}

.modaltr .modal-body select, .modaltr .modal-body .pass{
    width: 200px;
    height: 22px;
}


.modaltr .modal-body input,.modaltr .modal-body select{
    justify-self: flex-end;
}

.modaltr .modal-body{
    display: grid;
    grid-template-areas:
        'left left . right';
    grid-gap: 50px;
}

.modaltr .modal-body .header .nameRef{
    font-size: 2em;
}

.modaltr .modal-footer{
    width: 100%;
}

.modal .create-header{
    display: grid;
    margin-bottom: 15px;
}

.modal .create-body{
    display: grid;
    grid-template-areas: 'left right';
    grid-gap: 50px;
}

.modal .create-body .muestra{
    display: grid;
}

.modal .create-body .muestra span a{
    font-size: 20px;
}

.modal .create-body .pinta{
    display: grid;
    height: 20px;
}

@media only screen and (max-width: 854px){
    .modaltr form .pass, .modaltrform select{
        width: 200px;
    }
    .modaltr form .pass{
        margin-top: 15px;
    }
}